.fm-nav a{
  color: #ffffff;
  padding-right: 30px;
  padding-left: 30px;
}

.fm-nav .disabled {
  color: rgba(168, 0, 0);
}

.fm-nav a:hover {
  background: #008fbf;
  color: #ffffff;
}

.navbar a{
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.tarjeta {
  height: 300px;
}

.producto {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}

.btn-plus {
    color: #fff;
    background-color: #9e00ce;
    border-color: #9e00ce;
}

.btn-warning {
    color: #ffffff;
}
